html, body{height:100%;} 	

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    /* thanks to https://cssgradient.io/gradient-backgrounds/ */
    background-color: #d9a7c7;
    background-image: linear-gradient(30deg, #d9a7c7 0%, #fcede8 100%);
    
    }

	
    #content{
        max-width: 500px;
        margin: auto;
		height:100%;
    }


    input[type="submit"]:hover {
       background-position: right center; /* change the direction of the change here */
       color: #fff;
       text-decoration: none;
     }
    
     
    input {
    padding: 10px;
    font-size: 16px;
	border-radius: 10px;
	border: 1px solid black;
    background-color: #ffdad0;
    transition: 0.5s;
    }
    input:focus {
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
        border: 1px solid black;
        background-color: #ffdad0;
        box-shadow: 3px 3px 30px 2px #fff;
    }
    input:hover {
        padding: 10px;
        font-size: 16px;
        border-radius: 10px;
        border: 1px solid black;
        background-color: #ffdad0;
        box-shadow: 3px 3px 30px 2px #fff;
    }
    input[type="submit"]{background-image: linear-gradient(to right, #ee9ca7 0%, #ffdde1  51%, #ee9ca7  100%)}
    input[type="submit"]{
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 15px;
        min-width: 80px;
    }
     
    hr {
    border: 1px solid #648daf;
    }
     
    table, td, th {
   /* border: 1px solid #ddd;*/
    text-align: left;
    position: relative;
    animation-name: mymove;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    }
	 
    table {
	border-radius: 15px 15px 15px 15px;
    border-collapse: collapse;
	background: #ffffff;
    }
    table:hover{
        border-radius: 15px 15px 15px 15px;
        border-collapse: collapse;
        background: #ffffff;
        animation:  shake 0.4s;
    }
    @keyframes shake{
        0%{
          transform: translateX(0)
        }
        25%{
          transform: translateX(25px);
        }
          
        50%{
          transform: translateX(-25px);
        }
        100%{
          transform: translateX(0px);
        }
      }

    
	#left{
	border-radius: 15px 0px 0px 0px;
	}
	#right{
	border-radius: 0px 15px 0px 0px;
	}
    th, td {
    padding: 15px;
    }
     
    th{
    background: #fdc9bb;
    }

    
    #form{
        display: flex;
        justify-content: center;
    }

    #dinamicHTML{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

